.wrap {
  height: 500px;
  width: 600px;
  border: 5px solid red;
}

.div1 {
  width: 200px;
  height: 400px;
  color: white;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div2 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
}

.div3 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  margin-top: auto;
}
