.container {
  display: grid;
  height: 100%;
  /* width: 600px; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border: solid 4px red;
  grid-template-areas:
    "sidebar main main"
    "sidebar footer footer";
}

.box1 {
  background-color: aqua;
  grid-area: sidebar;
}

.box2 {
  background-color: blueviolet;
  grid-area: main;
}

.box3 {
  background-color: chartreuse;
  grid-area: footer;
}
