<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="twitterProfile.css" />
  </head>
  <body>
    <main>
      <img
        class="header-photo"
        src="https://pbs.twimg.com/profile_banners/1870044535/1570572304/1500x500"
        alt=""
      />
      <img
        class="photo"
        src="https://res.cloudinary.com/practicaldev/image/fetch/s--P8eclq0g--/c_fill,f_auto,fl_progressive,h_320,q_auto,w_320/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/85160/37ec6554-c63c-4664-8a4d-b697bd4c3cbf.jpg"
        alt=""
      />
      <div class="buttons">
        <button class="more-btn">
          <img
            src="https://image.flaticon.com/icons/svg/149/149403.svg"
            alt="More Icon"
          />
        </button>
        <button class="notification-btn">
          <img
            src="https://image.flaticon.com/icons/svg/633/633584.svg"
            alt=""
          />
        </button>
        <button class="following-btn">Following</button>
      </div>
      <h2 class="name">Tae'lur Alexis🦄</h2>
      <h3 class="handle">@TaelurAlexis</h3>
      <p>
        23. Self-Taught UI Engineer. Making @codeeverydayio. She/Her. Subscribe
        to My YouTube for Tech + Travel Vlogs ⬇️
      </p>
    </main>
  </body>
</html>
